﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @* jQuery is required by Kendo UI *@
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    @RenderSection("HeaderSection")

    <script>    
    $(document).ready(function () {
        $("#menu").kendoMenu();
    });
    </script>


</head>
<body>

    <h1>Тестовое задание Распопов А.Н.</h1>
    <ul id="menu">        
        <li><a href="/Production">Производство продукции</a></li>
        <li><a href="/Applying">Использование продукции</a></li>
        <li><a href="/Ballance">Остатки свободных номеров</a></li>       
    </ul>

    @RenderBody()
</body>
</html>