﻿@section HeaderSection {
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.common.min.css" rel="stylesheet" />

    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.default.min.css" rel="stylesheet" />

    <script src="http://cdn.kendostatic.com/2012.3.1114/js/kendo.all.min.js"></script>
}
<h2>Использование продукции</h2>

<div id="grid"></div>
<script>
    function errorHandler(gridName) {
        return function (e) {
            alert("Диапазон неверный или пересекается с одним из существующих");
            var grid = $("#grid").data("grid");
            grid.cancelChanges();
        };
    }

$(function () {
    $("#grid").kendoGrid({        
        columns: [
            "Comment",            
            { field: "Start", width: "150px", sortable: true },
            { field: "Finish", width: "150px" },            
            { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
        ],
        sort: { field: "Comment", dir: "desc" },
        editable: "popup",        
        pageable: true,
        sortable: true,
        filterable: true,
        toolbar: ["create"], 
        dataSource: {
            error: errorHandler("#grid"),
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true,
            pageSize: 30,
            schema: {
                data: "Data",
                total: "Total",
                model: { 
                    id: "ID",
                    fields: {
                        ID: { editable: false, nullable: true },
                        Comment: { validation: { required: true } },
                        Start:  { type: "number", validation: { min: 1000000000, max:9999999999, required: true } },
                        Finish: { type: "number", validation: { min: 1000000000, max:9999999999, required: true } }
                    }
                }
            },
            batch: false, 
            transport: {
                create: {
                    url: "@Url.Action("Create", "Applying")",
                    type: "POST" 
                },
                read: {
                    url: "@Url.Action("Read", "Applying")", 
                    contentType: "application/json",
                    type: "POST" 
                },
                update: {
                    url:"@Url.Action("Update", "Applying")", 
                    type: "POST" 
                },
                destroy: {
                    url: "@Url.Action("Destroy", "Applying")", 
                    type: "POST" 
                },
                parameterMap: function (data, operation) {
                  
                    if (operation != "read") {
                        return data;
                    } else {
                        return JSON.stringify(data)
                    }
                }
            }
        }
    });
});
</script>